{% extends "base.html" %}

{% block head_title %}
This is amazing!
{% endblock head_title %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-10 col-md-4 mx-auto">
        <form class="form" id="tweet_add_form" method="POST" action="tweets/add">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet_add_form_error"></div>
            <input type="hidden" value="/" name="next"/>
            <textarea required="required" class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>
<div id="tweets">
    <Loading class="">Loading...</Loading>
</div>

<script>
    function handleTweetFormError(msg, display){
        var myErrorDiv = document.getElementById("tweet_add_form_error")
        if (display === true){
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetAddFormSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-REQUESTED-WITH", "XMLHttpRequest")
        xhr.onload = function(){
            if (xhr.status === 201){
                const newTweetJson = xhr.response
                // const newTweetJson = JSON.parse(newTweet)
                const newTweetElement = formatTweetElement(newTweetJson)
                const newHtml = tweetsContainerElement.innerHTML 
                tweetsContainerElement.innerHTML = newTweetElement + newHtml
                myForm.reset()
            } else if (xhr.status === 400){
                const errorJson = xhr.response
                // console.log(errorJson)
                const contentError = errorJson.content
                let msg;
                if (contentError){
                    msg = contentError[0]
                    if (msg){
                        handleTweetFormError(msg, true)
                    } else {
                        alert("An error occured. Please try again.")
                    }
                } else {
                    alert("An error occured. Please try again.")
                }
                
            } else if (xhr.status === 401){
                alert("You must login!")
                window.location.href = "/login"
            } else if (xhr.status === 500){
                alert("There was a server error. Please try again.")
            }
        }
        xhr.onerror = function(){
            alert("An error occured. Please try again later.")
        }
        xhr.send(myFormData)
    }

    const tweetAddForm = document.getElementById("tweet_add_form")
    tweetAddForm.addEventListener("submit", handleTweetAddFormSubmit)

    const tweetsContainerElement = document.getElementById("tweets")

    function loadTweets(tweetsElement){
        const xhr = new XMLHttpRequest()
        const method = "GET" // "POST"
        const url = "tweets"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            const items = xhr.response
            var finalTweetsStr = ""
            var i;
            for(i=0; i<items.length; i++){
                var tweetObj = items[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetsStr += currentItem
            }
            tweetsElement.innerHTML = finalTweetsStr
        }
        xhr.send()
    }

    loadTweets(tweetsContainerElement)

    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
        currentCount++
        return
    }

    function likeBtn(tweet){
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + 
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='col-12 col-md-10, mx-auto border rounded py-3 mb-4, tweet' id='tweet-" + tweet.id + "'><p>" + 
        tweet.content + 
        "</p><div class='btn-group'>" + likeBtn(tweet) + 
        "</div></div>"
        return formattedTweet
    }
</script>
{% endblock content %}
