{% extends "base.html" %}

{% block head_title %}
This is amazing!
{% endblock head_title %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-10 col-md-4 mx-auto">
        <form class="form" method="POST" action="tweets/add">
            {% csrf_token %}
            <input type="hidden" value="/" name="next"/>
            <textarea class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>
<div id="tweets">
    <Loading class="">Loading...</Loading>
</div>
<script>
    const tweetsElement = document.getElementById("tweets") // $("#tweets") - jquery
    // tweetsElement.innerHTML = "Loading..."

    // var el1 = "<h1>Hi there 1</h1>"
    // var el2 = "<h1>Hi there 2</h1>"
    // var el3 = "<h1>Hi there 3</h1>"
    // tweetsElement.innerHTML = el1 + el2 + el3

    const xhr = new XMLHttpRequest()
    const method = "GET" // "POST"
    const url = "tweets"
    const responseType = "json"
    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
        currentCount++
        return
    }
    function likeBtn(tweet){
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + 
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }
    function formatTweetElement(tweet){
        var formattedTweet = "<div class='col-12 col-md-10, mx-auto border rounded py-3 mb-4, tweet' id='tweet-" + tweet.id + "'><p>" + 
        tweet.content + 
        "</p><div class='btn-group'>" + likeBtn(tweet) + 
        "</div></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        const items = serverResponse.response
        var finalTweetsStr = ""
        var i;
        for(i=0; i<items.length; i++){
            var tweetObj = items[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetsStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetsStr
    }
    xhr.send()
</script>
{% endblock content %}
